<div>
    <div class="redirect__container">
        <a class="redirect" id="redirect__register" href="/register">Register</a>
    </div>
    <div class="cart__auth">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="cart__auth-input">
                <input type="email" name="email">
                <label>Email</label>
            </div>
            <div class="cart__auth-input">
                <input type="password" name="password">
                <label>Contraseña</label>
            </div>
            <button type="submit">Acceder</button>
        </form>
    </div>
</div>