<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login-register.css">
    <title>Document</title>
</head>
<body>
    

<div>
    <div class="redirect__container">
        <a class="redirect redirect__login" id="redirect__login" href="/login">Login</a>
    </div>
    <div class="cart__auth">
        <h2>Register</h2>
        <form action="/register" method="POST">
            <div class="cart__auth-input">
                <input type="email" name="email">
                <label>Email</label>
            </div>
            <div class="cart__auth-input">
                <input type="text" name="firstName">
                <label>Nombre</label>
            </div>
            <div class="cart__auth-input">
                <input type="text" name="lastName">
                <label>Apellido</label>
            </div>
            <div class="cart__auth-input">
                <input type="text" name="alias">
                <label>Alias</label>
            </div>
            <div class="cart__auth-input">
                <input type="text" name="edad">
                <label>Edad</label>
            </div>
            <div class="cart__auth-input">
                <input type="text" name="direccion">
                <label>Direccion</label>
            </div>
            <div class="cart__auth-input">
                <input type="number" name="phone">
                <label>Phone</label>
            </div>
            <div class="cart__auth-input">
                <input type="password" name="password">
                <label>Contraseña</label>
            </div>            
                <button type="submit">Registrarse</button>
            
        </form>
    </div>
</div>
</body>
</html>